<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.dao.MethodMapper">

    <resultMap type="food" id="FoodMResult">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="images" property="images" />
        <result column="state" property="state" />
    </resultMap>

    <resultMap type="foodMethod" id="MethodResult">
        <id column="id" property="id" />
        <result column="prepare_time" property="prepare_time"/>
        <result column="cook_time" property="cook_time"/>
        <result column="main_material" property="main_material"/>
        <result column="other_material" property="other_material"/>
        <result column="step" property="step"/>
        <result column="issue_time" property="issue_time"/>
        <association property="food" column="id" select="findFoodByMId"/>
    </resultMap>
    <select id="findFoodByMId" parameterType="long" resultMap="FoodMResult">
        select * from f_food where method_id=#{id}
    </select>

    <select id="findAllMethod" resultMap="MethodResult">
        select * from f_method
    </select>

    <!--
    create table f_method(
    id number primary key,
    prepare_time varchar2(20),
    cook_time varchar2(20),
    main_material varchar2(200),
    other_material varchar2(200),
    step varchar2(1000),
    issue_time date);

       private long id;
    private Food food;
    private String prepare_time;
    private String cook_time;
    private String main_material;
    private String other_material;
    private String step;
    private Date issue_time;

    -->
    <insert id="addMethod" parameterType="foodMethod">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select f_method_seq.nextval from dual
        </selectKey>
       insert into f_method(id,prepare_time,cook_time,main_material,other_material,step,issue_time)
            values(#{id},#{prepare_time},#{cook_time},#{main_material},#{other_material},#{step},#{issue_time,jdbcType=TIMESTAMP})
    </insert>

</mapper>